
#experts{
    margin: 100px 0;
    overflow: hidden;
    .experts-content{
        h2{
            font-size: $h2-size-50;
        }
        span{
            color: $main-color;
            font-size: 20px;
        }
    }
    .experts-item{
        margin-top: 50px; 
        .box-image{
            overflow: hidden;
        }
       img{
           transition: 1s;
       }  
       .cool{
           transition: 1s;
       }
        &:hover{
            .box-image {
                img{
                    transform: scale(1.3);
                }
            }
            .content{
                transform: translateY(0px);
                background-image: linear-gradient(to left, #2064b6 10%, #23ced5 51%, #2064b6 100%);
                .hash{
                    opacity: 0;
                }
            }
            .cool{
                padding: 10px;
                opacity: 1;
                background-image: linear-gradient(to left, #2064b6 10%, #23ced5 51%, #2064b6 100%);
                
            }
        }
        .content{
            transform: translateY(100px);
            transition: 1s;
            .hash{
                transition: 1s;
            }
            i{
                border: 1px solid $dark-color;
                border-radius: 100%;
                padding: 10px;
                transition: 1s;
                &:hover{
                    background-color: $primary-color;
                }
            }
        }
    }
}
 
   