#footer{
    background-color: $gray-black-color;
    padding: 100px;
    .icon{
    align-items: center;
        p{
            margin: 20px 0;
        }
        i{
            font-size: 30px;
            margin: 20px 0;
        }
    }
    .bottom-icons{
        align-items: center;
        text-align: start;
       ul li i{
        margin-left: 5px;
        font-size: 25px;
        border: 1px solid ;
        border-radius: 50%;
        padding: 10px;
        transition: .4s;
        &:hover{
            background-color: $main-color;
        }

       }
    }
    .time{
        h5{
            font-size: 40px;
        }
        span{
            font-size: 20px;
            cursor: pointer;
            &:hover{
                color: $main-color;
            }
        }
        h6{
            color: $main-color;
        }
    }
    .nav-list{
        h5{
            font-size: 40px;
        }
        ul li {
            margin-top: 20px;
            a{
                font-size: 20px;
                color: $primary-color;
                transition: .4s;
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
    .hours{
        h5{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        ul li{
            font-size: 18px;
            margin: 25px 0;
        }
    }
}