#statics{
    overflow: hidden;
    position: relative;
    @include background-image-design;
    background-image:url(/assets/img/counter-bg.jpg);
    background-attachment: fixed;
    height: 50vh;
    
    .statics-items{
       position: absolute;
       top: 50%;
       color: $primary-color;
       h2{
           font-size: $h2-size-100;
       }
       p{
           font-size: 20px;
       }
       span{
           font-size: 20px;
       }
    }
    .box2{
        position: absolute;
        left: 35%;
    }
    .box3{
        position: absolute;
        left: 55%;
    }
}