/*color*/     
$main-color:rgb(42, 219, 250);
$dark-color:#000;
$gray-black-color:rgb(49, 48, 48);
$primary-color:#fff;
$content-paragraph-color:#727272;
$bg-color:#f6f7f8;
/*Font-size*/
$h1-size: 50px;
$h2-size-50: 50px;
$h2-size-100:100px;
$h6-size-50:40px;